<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/">{{ .Site.Title }}</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            <!-- <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
        </ul>
        </div><!--/.nav-collapse -->
    </div>
    </nav>

<div class="container">
{{ if eq .RelPermalink "/" }}

<h1 class="page-heading"><a href="/core/">Government of Canada<br/>
Contract analysis</a></h1>
<p class="page-subheading">A Carleton SPPA Research Project</p>

{{ else }}

<p class="page-heading"><a href="/">Government of Canada<br/>
Contract analysis</a></p>
<p class="page-subheading">A Carleton SPPA Research Project</p>

{{ end }}

{{ if eq .Type "overall" }}

<ul class="nav nav-pills overall-nav">
    <li role="presentation" {{ if eq .RelPermalink "/core/" }} class="active"{{ end }}><a href="/core/">Core public service departments</a></li>
    <li role="presentation" {{ if eq .RelPermalink "/dnd/" }} class="active"{{ end }}><a href="/dnd/">Department of National Defence</a></li>
    <li role="presentation" {{ if eq .RelPermalink "/all/" }} class="active"{{ end }}><a href="/all/">All departments and agencies</a></li>
</ul>

{{ end }}

</div>
