<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            {{ .Get "summary" }}
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            {{ .Inner | markdownify }}
        </div>
      </div>
    </div>
</div>
