<div class="entity-summary">


    {{ if eq .Page.Type "overall" }}
        {{ if eq .Page.Params.lookup_name "core" }}
            <p>The Government of Canada spent an estimated <strong>${{ .Page.Params.most_recent_fiscal_year_total }} in {{ .Page.Params.most_recent_fiscal_year_year }}</strong> on contracts across core public service departments and agencies (this excludes the Department of National Defence, commissions, review committees, and Offices of Parliament).</p>
        {{ end }}
        {{ if eq .Page.Params.lookup_name "dnd" }}
            <p>The Department of National Defence spent an estimated <strong>${{ .Page.Params.most_recent_fiscal_year_total }} in {{ .Page.Params.most_recent_fiscal_year_year }}</strong> on contracts. DND contracts for information technology or transportation and logistics are included in the “Defence” category below.</p>
        {{ end }}
        {{ if eq .Page.Params.lookup_name "all" }}
            <p>The Government of Canada spent an estimated <strong>${{ .Page.Params.most_recent_fiscal_year_total }} in {{ .Page.Params.most_recent_fiscal_year_year }}</strong> on contracts across all public service departments, agencies, and other federal public sector organizations that proactively disclose contract spending.</p>
        {{ end }}
    {{ end }}
    {{ if eq .Page.Type "department" }}
    <p>{{ .Page.Params.title }} spent an estimated <strong>${{ .Page.Params.most_recent_fiscal_year_total }} in {{ .Page.Params.most_recent_fiscal_year_year }}</strong> on contracts.</p>
    {{ end }}
    {{ if eq .Page.Type "vendor" }}
    <p>The Government of Canada spent an estimated <strong>${{ .Page.Params.most_recent_fiscal_year_total }} in {{ .Page.Params.most_recent_fiscal_year_year }}</strong> on contracts with {{ .Page.Params.title }}.</p>
    {{ end }}
    {{ if eq .Page.Type "category" }}
    <p>The Government of Canada spent an estimated <strong>${{ .Page.Params.most_recent_fiscal_year_total }} in {{ .Page.Params.most_recent_fiscal_year_year }}</strong> on 
        {{ if eq .Page.Params.lookup_name "0_other" }}
            other and uncategorized contracts. This includes international development transfers as well as contracts that don’t include distinct description fields.
        {{ else }}
            {{ .Page.Params.title | lower }} contracts.
        {{ end }}
        </p>
    {{ end }}
    {{ if eq .Page.Type "it_subcategory" }}
        <p>The Government of Canada spent an estimated <strong>${{ .Page.Params.most_recent_fiscal_year_total }} in {{ .Page.Params.most_recent_fiscal_year_year }}</strong> on {{ .Page.Params.title }} contracts, out of ${{ .Page.Params.most_recent_overall_it_total }} in overall information technology spending that year.
    {{ end }}

    {{ if ne .Page.Type "it_subcategory" }}
        <p>Across {{ .Page.Params.s431_number_of_contracts }} {{ if eq .Page.Params.s431_number_of_contracts "1" }}contract{{ else }}contracts{{ end }} active since the start of the {{ $.Site.Data.parse_run_log.summary_start_fiscal_year }} fiscal year, {{ .Page.Params.s431_number_of_contracts_with_amendments }} {{ if eq .Page.Params.s431_number_of_contracts_with_amendments "1" }}has{{ else }}have{{ end }} at least one amendment ({{ .Page.Params.s431_number_of_contracts_amendments_percentage }}). 

        {{ if ne .Page.Params.s434_mean_number_of_amendments "NA" }}
            Of contracts with amendments, the average increase in dollar value was {{ .Page.Params.s432_mean_amendment_increase_percentage }} and the average number of amendments was {{ .Page.Params.s434_mean_number_of_amendments }}. Cumulatively these amendments represent an increase of ${{ .Page.Params.s433_total_amendment_increase_value }} over the original contract values.
        {{ end }}
        </p>

        <p>The average contract duration was {{ .Page.Params.s424_mean_duration }} {{ if eq .Page.Params.s424_mean_duration "1" }}year{{ else }}years{{ end }}, and the average contract value (not including contracts under $10k) was ${{ .Page.Params.s421_mean_contract_value }}. The longest contract was {{ .Page.Params.s425_max_duration }} {{ if eq .Page.Params.s425_max_duration "1" }}year{{ else }}years{{ end }}. The largest contract by value (including amendments) was ${{ .Page.Params.s422_max_contract_value }}.</p>
    {{ end }}
        
    
    



    {{ .Inner | markdownify }}
</div>
